.lineGraph {
    width: 95%;
    height: 95%;
    margin: 8px;
    padding: 5px 5px 0 5px;
    border-radius: 5px;
    background-color: $container-background;
    box-shadow: $container-shadow;
}

.guageGraph {
    width: 95%;
    height: 95%;
    margin: 8px;
    padding: 5px;
    border-radius: 5px;
    background-color: $container-background;
    box-shadow: $container-shadow;
}