.mainContainer {
    // border: 2px solid cyan;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 5px;
    margin: 10px;
    height: 80vh;
}

.mainHeader {
    // border:2px solid pink;
    padding: 0 5px 5px 5px;
    margin: 0 5px 20px 5px;
    width: 80%;
    /* height: 8vh; */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.miniContainerMap {
    // border: 2px solid cyan;
    border-radius: 5px;
    padding: 5px;
    min-width: 80%;
    height: 80%;
    display: flex;
    margin: 8px;
    border-radius: 5px;
    background-color: rgb(39, 41, 61);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    // flex-direction: column;
}

.miniContainerGraph {
    // border: 2px solid cyan;
    border-radius: 5px;
    padding: 5px;
    width: 80%;
    height: 80%;
    display: flex;
    // flex-direction: column;
}

.containerButton {
    // width: 95%;
    // height: 45%;
    color: rgb(162, 161, 161);
    margin: 5px 5px 0 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(39, 41, 61);
    box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 3px 3px;
}
