ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.modalHeader {
    font-size: large;
    text-decoration: underline;
    font-weight: bold;
}

li {
    padding: 5px;
}

div.vis-tooltip {
    position: absolute;
    visibility: hidden;
    padding: 5px;
    white-space: normal;
    font-family: verdana;
    font-size: 14px;
    color: rgb(162, 161, 161);
    background-color: rgb(39, 41, 61);
    box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 3px 3px;
    margin: 5px 5px 0 5px;
    border-radius: 5px;
    border: 1px solid rgb(24, 25, 35);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    pointer-events: none;
    z-index: 5;
}