ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.modalHeader {
    font-size: large;
    text-decoration: underline;
    font-weight: bold;
}

li {
    padding: 5px;
}

div.vis-tooltip {
    position: absolute;
    visibility: hidden;
    padding: 5px;
    white-space: normal;
    font-family: verdana;
    font-size: 14px;
    color: lighten($font-color, 20%);
    background-color: $container-background;
    box-shadow: $container-shadow;
    margin: 5px 5px 0 5px;
    border-radius: 5px;
    border: 1px solid rgb(24, 25, 35);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    pointer-events: none;
    z-index: 5;
}

.mapButton {
    z-index: 3;
    background-color: lighten($container-background, 15%);
}

.mapButton:hover,
.mapButton2:hover {
    cursor: pointer;
    transform: translate(1px, 1px);
    color: lighten($font-color, 20%);
}