.navBar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 95vh;
    width: 12vw;
    padding: 5px;
    margin: 10px 5px 5px 10px;
    background: linear-gradient(-45deg, rgb(253, 93, 146), rgb(197, 47, 30), rgb(253, 93, 146), rgb(197, 47, 30));
    background-size: 400% 400%;
    color: #EEEEEE;
    border-radius: 5px;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

// title
.navBarTitle {
    align-self: center;
    font-size: 1.5rem;
    margin: 20px 0 20px 0;
}

// Button

.navButton {
    width: 100%;
    height: 8%;
    margin: 5px;
    border: none;
    font-size: 1rem;
    background: transparent;
    display: flex;
    align-items: center;
    color: white
}

.navButton:hover {
    cursor: pointer;
    transform: translate(1px, 1px);
    color: white;
}

.btn-icon {
    margin-right: 1.2rem;
    height: 30px;
    width: 30px;
    margin-left: 5px;
}

.btn-text {
    text-align: left;
}

.loadingStatus {
    position: relative;
    top: 40%;
    justify-self: end;
    align-self: center;
    font-size: small;
}