$font-color: rgba(255, 255, 255, 0.702);
$container-background: rgb(38, 38, 38);
$container-shadow: rgba(28, 28, 28, 0.24) 0px 3px 8px;
$red-button: rgb(225, 70, 89);
$body-background: rgb(25, 24, 24);