//imports
@import '_navBar';
@import '_mainContainer';
@import '_graph';
@import '_vis-network';
@import '_map';


body {
    background-color: rgb(30, 30, 47);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.App {
    display: flex;
    height: 95vh;
}


// very large screen
@media screen and (max-width: 1599px) {
    .navBar {
        display: flex;
        flex-direction: column;
        align-items: center;
        /*  height: 90vh;
        width: 12vw;
        padding: 5px;
        margin: 10px;
        color: #EEEEEE;
        border: 2px solid cyan;
        border-radius: 5px; */
        font-size: 2.2rem;
    }

    .nav-title {
        padding-bottom: 10%;
    }

    .navButton {
        width: 11vw;
        margin: 5px;
        border-radius: 10px;
        padding: 10px 20px;
        font-size: 1.2rem;
    }

    .miniContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

// large screen
@media screen and (max-width: 1405px) {
    .App {
        display: flex;
        flex-direction: column;
    }

    .btn-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .navBar {
        width: 98.5%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .nav-title {
        padding-top: 10%;
    }

    .nav-title {
        font-size: 5rem;
    }

    .navButton {
        width: 11vw;
        font-size: 1.1rem;
        margin: 0 20px;
    }
}

// @media screen and (max-width: 1350px) {
//     .nav-title {
//         font-size: 1.8rem;
//     }

//     .navButton {
//         width: 11vw;
//         font-size: 1.1rem;
//     }
// }

// @media screen and (max-width: 1100px) {
//     .App {
//         display: flex;
//         flex-direction: column;
//     }

//     .navBar {
//         width: 98.5%;
//         padding: 10px;
//         display: flex;
//         flex-direction: row;
//         justify-content: flex-start;
//     }

//     .nav-title {
//         padding-top: 10%;
//     }

//     .nav-title {
//         font-size: 1.8rem;
//     }

//     .navButton {
//         width: 11vw;
//         font-size: 1.1rem;
//     }
// }
